  <div class="image">
    <div class = "tag_line">
      <h1>FIND YOUR WALDO</h1>
      <p>Affordable personalized tour and service from individuals </p>
      <p>who speak the language you love.</p>
    </div>

    <div class="guide-index-search">
      <%= render partial: "guides/guide_search"%>
    </div>
  </div>
