// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  @include outer-container;
}


$font-stack: Helvetica, sans-serif;
$grey: #eaeaea;
$pink: #ff2e63;
$purple: #521262;
$yellow: #f6c90e;
$green: #07c1bf;
$black: #282828;


body {
  font: 100% $font-stack;
  color: $black;
  background-color: $grey;
  margin: 0;
}

nav {
  background-color: $grey;

  ul {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 0.8rem;
  }

  li {
    display: block;
    text-decoration: none;
    color: $black;
      }

  a {
    display: block;
    // padding: 6px 12px;
    text-decoration: none;
    color: $black;
    padding-right: 20px;
    padding: 5px 5px;
  }
}

#become_guide {
  border: 2px solid $pink;
  color: $pink;
  padding: 5px 5px;
  margin-right: 10px;
  background-color: $grey;
}

//.image {
//  line-height: 0;
//  position: relative;
//  width: 100%;
//}
//
//  img {
//    height: auto;
//    left: 0;
//    position: relative;
//    top: 0;
//    width: 100%;
//  }

  .video_pane {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background-size: cover;

      video {
        width: 100%;
      }
  }

  .tag_line{
    text-align: center;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgha(0,0,0,0,7);

    h1{
      color: white;
      padding: 1rem;
      font-size: 2.5rem;
    }

    p{
      color: white;
      position: relative;
      font-weight: bolder;
      font-size: 1.5rem;
      font-weight: normal;
    }
  }

  .guide-index-search {
    // left: 50%;
    // margin: auto;
    width: 100%;
    position: relative;
    top: 70%;
    text-align: center;
    // transform: translate(-50%, -50%);

    p {
      color: white;
      line-height: 2em;
      padding: 0.8em;
      font-size: 0.8rem;
      position: relative;
      display: inline-flex;
    }
  }

.visitor_signup_modal,
.visitor_login_modal
{
  display: none;
  position: absolute;
  background-color: white;
  color: $black;
  text-align: center;
  height: 100%;
  width: 60%;
  z-index: 1;
  margin: 0 20%;

}
.visitor_login_modal a,
.visitor_signup_modal a{
  color: $black;
}

.become_guide_modal{
  display: none;
  position: absolute;
  background-color: white;
  color: $black;
  text-align: center;
  height: 100%;
  width: 60%;
  z-index: 2;
  margin: 0 20%;
}

.city_css {
  border: 1px solid white;
  background-color: inherit;
  padding: 5px;
  font: white;
}

.language_css {
  border: 1px solid white;
  background-color: inherit;
  padding: 5px;
  color: white;
  padding: 5px;
}

.date_css {
  border: 1px solid white;
  background-color: inherit;
  padding: 5px;

}

.search_button {
  border: 1px solid $pink;
  border-radius: 5%;
  background-color: $pink;
  font-size: 20px;
  color: white;
  padding: 2.5px 30px;
  margin-left: 20px;

}
